{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-stage-3",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "universal-import",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
