@-moz-keyframes fade-Foo {
  0% {
    background: #eb4e91;
  }
  100% {
    background: #800080;
  }
}
@-webkit-keyframes fade-Foo {
  0% {
    background: #eb4e91;
  }
  100% {
    background: #800080;
  }
}
@-o-keyframes fade-Foo {
  0% {
    background: #eb4e91;
  }
  100% {
    background: #800080;
  }
}
@keyframes fade-Foo {
  0% {
    background: #eb4e91;
  }
  100% {
    background: #800080;
  }
}
@-moz-keyframes fade-Bar {
  0% {
    background: #800080;
  }
  100% {
    background: #ff5400;
  }
}
@-webkit-keyframes fade-Bar {
  0% {
    background: #800080;
  }
  100% {
    background: #ff5400;
  }
}
@-o-keyframes fade-Bar {
  0% {
    background: #800080;
  }
  100% {
    background: #ff5400;
  }
}
@keyframes fade-Bar {
  0% {
    background: #800080;
  }
  100% {
    background: #ff5400;
  }
}
@-moz-keyframes fade-Baz {
  0% {
    background: #ff5400;
  }
  100% {
    background: #008000;
  }
}
@-webkit-keyframes fade-Baz {
  0% {
    background: #ff5400;
  }
  100% {
    background: #008000;
  }
}
@-o-keyframes fade-Baz {
  0% {
    background: #ff5400;
  }
  100% {
    background: #008000;
  }
}
@keyframes fade-Baz {
  0% {
    background: #ff5400;
  }
  100% {
    background: #008000;
  }
}
@-moz-keyframes fade-Rudy {
  0% {
    background: #008000;
  }
  100% {
    background: #ffbe00;
  }
}
@-webkit-keyframes fade-Rudy {
  0% {
    background: #008000;
  }
  100% {
    background: #ffbe00;
  }
}
@-o-keyframes fade-Rudy {
  0% {
    background: #008000;
  }
  100% {
    background: #ffbe00;
  }
}
@keyframes fade-Rudy {
  0% {
    background: #008000;
  }
  100% {
    background: #ffbe00;
  }
}
@-moz-keyframes fade-Example {
  0% {
    background: #ffbe00;
  }
  100% {
    background: #008080;
  }
}
@-webkit-keyframes fade-Example {
  0% {
    background: #ffbe00;
  }
  100% {
    background: #008080;
  }
}
@-o-keyframes fade-Example {
  0% {
    background: #ffbe00;
  }
  100% {
    background: #008080;
  }
}
@keyframes fade-Example {
  0% {
    background: #ffbe00;
  }
  100% {
    background: #008080;
  }
}
@-moz-keyframes fade-ReduxFirstRouter {
  0% {
    background: #008080;
  }
  100% {
    background: #00f;
  }
}
@-webkit-keyframes fade-ReduxFirstRouter {
  0% {
    background: #008080;
  }
  100% {
    background: #00f;
  }
}
@-o-keyframes fade-ReduxFirstRouter {
  0% {
    background: #008080;
  }
  100% {
    background: #00f;
  }
}
@keyframes fade-ReduxFirstRouter {
  0% {
    background: #008080;
  }
  100% {
    background: #00f;
  }
}
@-moz-keyframes fade-Universal {
  0% {
    background: #00f;
  }
  100% {
    background: #000;
  }
}
@-webkit-keyframes fade-Universal {
  0% {
    background: #00f;
  }
  100% {
    background: #000;
  }
}
@-o-keyframes fade-Universal {
  0% {
    background: #00f;
  }
  100% {
    background: #000;
  }
}
@keyframes fade-Universal {
  0% {
    background: #00f;
  }
  100% {
    background: #000;
  }
}
@-moz-keyframes fade-FaceySpacey {
  0% {
    background: #000;
  }
  100% {
    background: #eb4e91;
  }
}
@-webkit-keyframes fade-FaceySpacey {
  0% {
    background: #000;
  }
  100% {
    background: #eb4e91;
  }
}
@-o-keyframes fade-FaceySpacey {
  0% {
    background: #000;
  }
  100% {
    background: #eb4e91;
  }
}
@keyframes fade-FaceySpacey {
  0% {
    background: #000;
  }
  100% {
    background: #eb4e91;
  }
}
.Foo {
  animation: fade-Foo 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.Bar {
  animation: fade-Bar 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.Baz {
  animation: fade-Baz 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.Rudy {
  animation: fade-Rudy 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.Example {
  animation: fade-Example 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.ReduxFirstRouter {
  animation: fade-ReduxFirstRouter 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.Universal {
  animation: fade-Universal 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.FaceySpacey {
  animation: fade-FaceySpacey 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spinner div {
  position: relative;
  width: 11em;
  height: 11em;
  margin: 50px auto;
  font-size: 10px;
  text-indent: -9999em;
  background: #141414;
  border-radius: 50%;
  box-sizing: border-box;
  background: linear-gradient(to right, #dcdcdc 10%, rgba(55, 55, 55, 0) 42%);
  animation: spin 1.4s infinite linear;
  transform: translateZ(0);
}
.spinner div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: #dcdcdc;
  border-radius: 100% 0 0 0;
}
.spinner div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 75%;
  margin: auto;
  background: #fff;
  border-radius: 50%;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
