.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffbe00;
}
.container span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 32px;
}
.container img {
  width: 100px;
  margin-right: 10px;
  border: 1px solid #f00;
}
.container span {
  color: #c81446;
}
.container a {
  color: #000;
}
.container a:hover {
  color: #f00;
}
