.usageHero {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.usageHero > div {
  margin-left: 20px;
}
.usageHero img {
  width: 103px;
}
.usageHero h2 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  --x-height-multiplier: 0.363;
  --baseline-multiplier: 0.157;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  position: relative;
  margin-top: -5px;
  margin-bottom: 7px;
  color: #fff1fe;
  font-size: 36px;
  font-weight: 700;
}
.usageHero h3 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  --x-height-multiplier: 0.363;
  --baseline-multiplier: 0.157;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: rgba(255,255,255,0.8);
  font-size: 20px;
}
